body {
  background:rgb(67, 80, 80);
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
}
h1 {
  font-size:xxx-large;
  color:#10b4b4;
  text-align: center;
  }
  img {
    display: block;
    float: right;
    padding: 15px;
    clear: both;
    height: 350%;
    width: 350px;
  }
#once {
    content: "Links";
    display: block;
    font-size: large;
    margin-top: .5em;
}
h2 {
  color:rgb(218, 218, 33);
  font-size: x-large;
}
p {
  color:white;
}
 
a:visited {
  color: rgb(64, 153, 64);
  background-color: transparent;
  text-decoration: none;
}
